body {
    padding: 0;
    margin: 0;
}

main {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0 0;
}

header {
    display: inline-block;
    width: 94%;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0 0;
}

.header__inline {
    display: inline-block;
}

.header__logo {
    margin-top: 10px;
    width: 100px;
    height: 75px;

}

.header__site-name {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.header__navigation-menu li {
    display: inline-flex;
}

.main-section {
    font-family: "Lucida Console", "Courier New", monospace;
}

.main-section h2 {
    text-align: center;
    padding-bottom: 10px;
}

.main-section h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

.footer{
    background-color: antiquewhite;
    padding: 1%;
    text-align: center;
}

